<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
 
                    <!-- nav bar -->
<nav class="navbar sticky-top navbar-dark bg-dark">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'stock' %}">Stock</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'stockinput' %}">Stock Input</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'request' %}">Request</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'requestlist' %}">Request List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'donatedlist' %}">Donated List</a>
  </li>
</ul>
</nav>
  <!--/.nav-collapse -->
    
    <div class ="container">
      <table class="table table-bordered">
        <form action="{% url 'donatedlist' %}" method="POST">
      {% csrf_token %}
        <tr>
          <th>Name</th>
          <th>Mobile Number</th>
          <th>Address</th>
          <th>Email</th>
          <th>Blood Group</th>
          <th>Date Line</th>
          <th>Check Box</th>
        </tr>

        {% for p in req %}
        <tr>
          <td>{{ p.name_request }}</td>
          <td>{{ p.mobile_request }}</td>
          <td>{{ p.address_request }}</td>
          <td>{{ p.email_request }}</td>
          <td>{{ p.bloodgroup_request }}</td>
          <td>{{ p.dateline_request }}</td>
          <td><input type="checkbox" name="checkbox" value="{{p.name_request}}"></td>
        </tr>
        {% endfor %}
        {% for p in request_lists %}
        <tr>
          <td>{{ p.name_request }}</td>
          <td>{{ p.mobile_request }}</td>
          <td>{{ p.address_request }}</td>
          <td>{{ p.email_request }}</td>
          <td>{{ p.bloodgroup_request }}</td>
          <td>{{ p.dateline_request }}</td>
          <td><input type="checkbox" name="checkbox" value="{{p.name_request}}"></td>
        </tr>
        {% endfor %}
      </table>
      <button type="submit" class="btn btn-primary">Donate</button>
      </form>
 
    </div>
  </body>
</html>